@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.left {
    flex: 0 0 40%;
}

.right {
    flex: 0 0 50%;
}

.one-row{
    flex: 0 0 100%;
}